body {
    width: 700px;
    height: 500px;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    padding: 16px;
    padding-top: 4px;
    border: 2px solid #000;
}

h1 {
    font-size: 20px;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* except for the p under div user-section */
#user-section p {
    padding-bottom: 2px;
}

#url {
    font-weight: bold;
}

#group-name {
    font-weight: bold;
}

#scrollable-section {
    display: block; /* or display: inline-block; */
    max-height: 340px;
    overflow-y: auto;
    background-color: #2c2c2c;  /* Added this line to make the background lighter */
}

#scrollable-section p {
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;  /* Added this line to remove default margin */
    margin-bottom: 0;  /* Added this line to remove default margin */
}

#scrollable-section hr {
    margin-left: 0;
    padding-left: 0;
}

.user-message {
    background-color: #3c3c3c; /* This is a brighter yellowish shade. Adjust to your liking */
    padding: 18px 0; /* Space above and below the hr */
}

#error-message {
    color: red
}

#bottom-container {
    display: flex;  /* Turns on flexbox for the container */
    position: fixed;
    bottom: 20px;
    width: 702px;
    justify-content: space-between;  /* Distributes items evenly: first item is flush with the start, last is flush with the end */
    align-items: center;  /* Vertically aligns the items in the middle */
    gap: 10px;  /* Optional: adds space between flex items, supported in newer browsers */
}

button {
    margin-top: 0px;
    margin-bottom: 6px;
    padding: 10px;
    background-color: #004675;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;  /* Prevents the button from shrinking */
}

button:hover {
    background-color: #1182b7;
}

#info-button, #settings-button {
    cursor: pointer;
    color: white; /* Adjust the color as needed */
    background: none; /* Ensure there's no background */
    border: none; /* Ensure there's no border */
    padding: 0;
    padding-left: 12px;
}

#info-button:hover, #settings-button:hover {
    cursor: pointer;
    color: #1182b7; /* Adjust the color as needed */
    background: none; /* Ensure there's no background */
    border: none; /* Ensure there's no border */
}

#details-input {
    /*display: none;*/
    padding-top: 16px;
    margin-bottom: 6px;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;  /* Allows the input to grow and take up remaining space */
}

#details-input:focus {
    outline: none;
    border-color: #1182b7;
}

#details-input[disabled] {
    background-color: #f3f3f3; /* Light grey background */
    color: #a7a7a7; /* Grey text */
    cursor: not-allowed; /* Show a 'not allowed' cursor */
}

hr {
    border: none; /* Removes the default border */
    height: 1px;  /* Defines the thickness of the hr */
    background-color: #a7a7a7; /* Color of the hr */
}

#login-section {
    background-color: #2c2c2c;
    border: 2px solid #3c3c3c;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#login-section, #login-section * {
    text-align: center;
}

#login-section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1182b7;
    text-align: center;
}

#login-google {
    display: inline-block;
    padding: 12px 20px;
    background-color: #4285F4; /* Google's blue color */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#login-google:hover {
    background-color: #357ABD; /* A darker blue for hover state */
}

/* ... */

/* stick user-section to the top right corner of the window */
#user-section {
    position: fixed;
    top: 8px;
    right: 12px;
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column; /* Change this from column to row */
    justify-content: center;
    align-items: center;
}

/* ... */

#user-section p {
    margin-right: 4px; /* If needed, adjust the margin */
    margin-bottom: 0px;
}

#logout-google {
    text-decoration: none; /* Remove underline */
    color: #1182b7; /* Use a gentle color, like a soft blue */
    transition: color 0.3s;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    margin-left: 10px;
}

#logout-google:hover {
    color: #005b8e; /* A slightly darker blue for hover state */
}

/* Optional: To remove the default appearance of the button in focus state, especially after clicking */
#logout-google:focus {
    outline: none;
}

#user-section .small-font {
    font-size: 12px;
    text-align: left;
    width: 100%;
    margin: 0;  /* Reset margin */
    padding: 0; /* Reset padding */
}
