body {
    width: 700px;
    height: 500px;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    padding: 16px;
    padding-top: 4px;
    border: 2px solid #000;
}

h1 {
    font-size: 20px;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

#url {
    font-weight: bold;
}

#group-name {
    font-weight: bold;
}

#scrollable-section {
    display: block; /* or display: inline-block; */
    max-height: 340px;
    overflow-y: auto;
}

/*
#bottom-container {
}
*/
#bottom-container {
    display: flex;  /* Turns on flexbox for the container */
    position: fixed;
    bottom: 20px;
    width: 700px;
    justify-content: space-between;  /* Distributes items evenly: first item is flush with the start, last is flush with the end */
    align-items: center;  /* Vertically aligns the items in the middle */
    gap: 10px;  /* Optional: adds space between flex items, supported in newer browsers */
}

#summarize-button {
    margin-top: 16px;
    padding: 10px;
    background-color: #004675;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;  /* Prevents the button from shrinking */
}

#summarize-button:hover {
    background-color: #1182b7;
}

#details-input {
    /*display: none;*/
    margin-top: 16px;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;  /* Allows the input to grow and take up remaining space */
}

#details-input:focus {
    outline: none;
    border-color: #1182b7;
}

#details-input[disabled] {
    background-color: #f3f3f3; /* Light grey background */
    color: #a7a7a7; /* Grey text */
    cursor: not-allowed; /* Show a 'not allowed' cursor */
}

hr {
    border: none; /* Removes the default border */
    height: 1px;  /* Defines the thickness of the hr */
    background-color: #a7a7a7; /* Color of the hr */
    margin: 18px 0; /* Space above and below the hr */
}

